.interface main {
  padding: 90px 0 40px;
}

main #container-cards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#container-cards .content-card {
  width: var(--w-card);
  padding: 0 0 7px;
}

.content-card .container-img-card {
  width: 100%;
  height: var(--h-img);
}

.container-img-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: top center;
}

.content-card .title-and-lt {
  display: flex;
  flex-direction: column;
}

.title-and-lt h2 {
  padding: 5px 0;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: var(--color-secondary-dark);
}

.title-and-lt .btns-socialMedia {
  padding: 7px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
}

.btns-socialMedia .btn-lt {
  border: none;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 3px;
  letter-spacing: 0.2px;
  color: var(--color-primary-light);
  background-color: var(--color-blue);
}
